server {
	listen 80;
	listen [::]:80;
	server_name localhost;
	return 301 https://$host$request_uri;
}

server {
	listen 443 ssl;
	listen [::]:443 ssl;

	root /var/www/html;

	server_name localhost;

	ssl on;
	ssl_certificate /etc/ssl/certs/example.crt;
	ssl_certificate_key /etc/ssl/private/example.key;
	ssl_protocols TLSv1.2 TLSv1.3;

	index index.html index.htm index.nginx-debian.html index.php;

	location / {
		autoindex {{ var "AUTO_INDEX" | default "on"}};
		try_files $uri $uri/ /index.php?$args;
	}

	location ~ \.php$ {
		include snippets/fastcgi-php.conf;
		fastcgi_pass unix:/run/php/php7.3-fpm.sock;
	}

}
